html body {
  background: #0d0d0dfa
}

html body .page-hero h3 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: -1px -1px 1px #460000, 2px 2px 1px #05F4B7;
  text-transform: uppercase;
  color: #bd122d
}

html body .page-hero p {
  color: #05F4B7
}

.table-responsive {
  overflow-x: initial;
}

html body .card {
  border-radius: 15px;
  overflow: hidden
}

html body .card-header {
  background: lightgray;
  color: rgb(0, 0, 0)
}

html body .card-header .prevMonth {
  cursor: pointer
}

html body .card-header .nextMonth {
  cursor: pointer
}

html body .card-body {
  background: white
}

html body .card-body .days span {
  background: #fffffffa;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-block;
  height: 45px;
  width: 45px;
  line-height: 45px;
  cursor: pointer
}

html body .card-body .days span:hover {
  background: #fffffffa
}

html body .card-body .dates span {
  background: #ffffff;
  color: #000;
  border-radius: 50%;
  display: inline-block;
  height: 45px;
  width: 45px;
  line-height: 45px;
  cursor: pointer
}

html body .card-body .dates span.active,
html body .card-body .dates span:hover {
  background: #ffeef0;
  color: #000
}

html body .card-body .dates span.ntMonth {
  color: #938e8e;
  background: #fbf6f6
}

html body .card-body .dates span.ntMonth:hover {
  background: #ffeef0;
  color: #000
}

html body .card#event .card-header .close {
  color: #fff;
  opacity: 1
}

html body .card#event .card-body .events-today {
  height: 210px;
  overflow-x: hidden
}


@media(max-width: 767px) {
  html body .pa-sm {
    position: absolute
  }

  html body .card-body .days span {
    height: 38px;
    width: 38px;
    line-height: 38px;
    font-size: .8rem
  }

  html body .card-body .dates span {
    height: 38px;
    width: 38px;
    line-height: 38px;
    font-size: .8rem
  }

  html body .card#event .card-body .events-today {
    height: 188px
  }
}

a.nav-link {
  font-size: 18px;
}