#containers {
    position: absolute;
<<<<<<< HEAD
    bottom: 0;
=======
    bottom: 0px auto;
>>>>>>> 62e1aaff3c8902ce2688e92df89c0a59a9b9bd8a
    width: 100%;
    display:flex;
    /* establish flex container */
    flex-direction: row;
    /* default value; can be omitted */
    flex-wrap: nowrap;
    /* default value; can be omitted */
    justify-content:space-between;
    /* switched from default (flex-start, see below) */
    background-color: rgb(119, 119, 119);
    padding-left: 10%;
    padding-right: 10%;


}

#containers>div {
    width: 65px;
    height: 65px;
}

#containers div a img {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 65px;
    height: 65px;
}

div.line_1{
    border-left: 5px solid black;
    position:absolute;
    left:30%;
}

div.line_2{
    border-right: 5px solid black;
    position:absolute;
    right:30%;
}
