html {
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #0d0d0dfa;
  color: white;

}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

textarea {
  height: 100px;
  max-height: 200px;
}

button {
  border: none;
}

.assignment_card {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
}
#add_card,
#add_card i{
  display: flex;
}
#add_card:hover {
  background-color: red;
}

.assignment_card {
  margin-top: 2em;
}

#remove_card {
  background-color: red;
}