html {
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: white;
}
a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

textarea {
  height: 100px;
  max-height: 200px;
}

button:not([id="date_button"]) {
  border: none;
}
.assignment_card {
  
  background-color: white;
  border-radius: 10px 10px 10px 10px;
}
#add_card,
#add_card i{
  display: flex;
}
#add_card:hover {
  background-color: red;
}

.assignment_card {
  margin-top: 2em;
  
}
.btn.btn-info{
  height:50px;
}

.btn.btn-secondary{
  height:50px;
}

#remove_card {
  background-color: red;
  height:50px;
}

.assignment_card {
  box-shadow: 0 5px 20px 3px #371BB1;
}

#HASH {
  width: 100%;
}

#HASH div {
  width: 49%;
  display: inline-block;
}

#right {
  text-align: right;
}

.mb-3 {
  cursor: pointer;
}

.btn.btn-default{
  width:30px;
  height:30px;
  padding-right: 25px;
  border: 0;
  outline: auto;
}

